button, button:active, button:focus {
height: 40px; width: 150px; font-family: Roboto; font-size: 18px; border: solid 1px; border-radius: 100px; background-color: darkGrey; color: white;
}
button:active {
outline: none !important; background-color: DimGrey;
}
button:focus {
outline: none !important;
}
h1 {
  font-family: Roboto;
}
.test {
color: darkgreen;
}

.left-heart {
  background-image:url(galya.jpg);
  background-position:center center;
  background-size:cover;
  width:300px;
  height:300px;
  border-radius:300px 300px 0 300px;
}
.right-heart {
  background-image:url(igor.jpg);
  background-position:center center;
  background-size:cover;
  width:300px;
  height:300px;
  border-radius:300px 300px 300px 0;
}
.right-heart:active {
  width:500px;
  height:500px;
}
.left-heart:active {
  width:500px;
  height:500px;
}
