button, button:active, button:focus {
height: 40px; width: 150px; font-family: Roboto; font-size: 18px; border: solid 1px; border-radius: 100px; background-color: darkGrey; color: white;
}
button:active {
outline: none !important; background-color: DimGrey;
}
button:focus {
outline: none !important;
}
h1 {
  font-family: Roboto;
}
.test {
color: darkgreen;
}
