h1 {
  font-family: Roboto;
}

p {
  font-family: Roboto;
}

input {
  width        : 100px;
  height       : 30px;
  border-radius: 20px;
  outline      : none;
}

.bigbutton,
.bigbutton:active,
.bigbutton:focus {
  height          : 40px;
  width           : 150px;
  font-family     : Roboto;
  font-size       : 18px;
  border          : solid 1px;
  border-radius   : 100px;
  background-color: darkGrey;
  color           : white;
}

.bigbutton:active {
  outline         : none !important;
  background-color: DimGrey;
}

.bigbutton:focus {
  outline: none !important;
}

.left-heart {
  background-image   : url("igor.jpg");
  background-position: center center;
  background-size    : cover;
  transform          : rotate(5deg);
  width              : 300px;
  height             : 300px;
  border-radius      : 300px 0 0 300px;
}

.right-heart {
  background-image   : url("galya.jpg");
  background-position: -20px -30px;
  background-size    : 110%;
  transform          : rotate(5deg);
  width              : 300px;
  height             : 300px;
  border-radius      : 0 300px 300px 0;
}

.left-heart:active,
.right-heart:active {
  box-shadow     : none;
  border-radius  : 0 0 0 0;
  width          : 600px;
  height         : 600px;
  background-size: 100%;
  box-shadow     : none !important;
}

.left-heart:hover,
.right-heart:hover {
  box-shadow: inset 0 0 1px 3px #5b9aa0;
}

.wrapper {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap             : 10px;
  grid-auto-rows       : minmax(100px, auto);
}

.one {
  grid-column     : 1 / 3;
  grid-row        : 1;
  border: solid 2px;
  border-radius   : 10px;
  text-align: left;
}

.two {
  grid-column     : 3;
  grid-row        : 1 / 3;
  border: solid 2px;
  border-radius   : 10px;
}

.three {
  grid-column     : 1/ span 2;
  grid-row        : 2 / 4;
  border: solid 2px;
  border-radius   : 10px;
}

.four {
  grid-column     : 3;
  grid-row        : 3;
  border: solid 2px;
  border-radius   : 10px;
}

.five {
  grid-column     : 1/3;
  grid-row        : 4;
  border: solid 2px;
  border-radius   : 10px;
}

.six {
  grid-column     : 3;
  grid-row        : 4;
  border: solid 2px;
  border-radius   : 10px;
}
